<div class="container mt-4">
  <h2 class="text">Lista de Docentes</h2>

  <table class="table table-striped table-bordered">
    <thead class="table-success">
      <tr>
        <th>Legajo</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let docente of docente">
        <td>{{ docente.legajo }}</td>
        <td>{{ docente.nombre }}</td>
        <td>
          <button class="btn btn-success me-2" (click)="editDocente(docente.legajo!)">Editar</button>
          <button class="btn btn-secondary" (click)="deleteDocente(docente.legajo!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success mt-3" (click)="addDocente()">Agregar</button>
</div>